* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    position: fixed;
    padding: 10px;
    width: 100%;

}

body {
    position: relative;
}

body header #culogo {
    width: 200px;
    height: 80px;
}

body header #links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
    margin-right: 50px;

}

body header #links a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
}

body div #display {
    height: 60vh;
    width: 100vw;
    margin-top: 102px;
}

body #cloud {
    /* background-color: rgba(0, 0, 0, 0.247); */
    overflow: 50%;
}

body #welcome {
    margin-top: 20px;

}

body #welcome #now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
    width: 70vw;
    height: 40vh;

}

body #welcome p {
    margin-top: 20px;
}


body #conatiner {
    top: 841px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

body #conatiner2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

body #conatiner .hot .members {
    width: 285px;
    height: 350px;
    border-radius: 10px;
}

body #conatiner .hot .page {
    display: none;
}

body #conatiner .hot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: #a842c1;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 19px;
    color: #fff;
}

body #conatiner2 .hot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: #a842c1;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 19px;
    color: #fff;
}

body #conatiner .hot .person {
    margin-top: 20px
}

body #conatiner2 .hot .info {
    margin-left: 5px;
}

body #holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    /* margin-left: 100px; */

}

body #holder div {
    margin-top: 10px;
    /* background-color: #a842c1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30vw;
    height: 80vh;

}


body #holder .devices {
    width: 20pc;
    height: 20pc;
    margin-top: 100px;
}


body #conatiner .hot.hot1:hover {
    visibility: hidden;
}
body #conatiner .hot.hot2:hover {
    visibility: hidden;
}
body #conatiner .hot.hot3:hover {
    visibility: hidden;
}
body #conatiner .hot.hot4:hover {
    visibility: hidden;
}